<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style> 
    [v-cloak] {
        display:none;
      }
  </style>
</head>
<body>
  <div v-cloak id="app">
    <v-app>
      <v-main>

        <v-container>
          <v-row>
            <v-btn class="ma-2" :key="filterName" :color="filters[filterName] ? 'primary' : 'disabled'" v-for="filterName in Object.keys(filters)" @click="toggleFilter(filterName)">
              {{ filterName }}
              <v-icon right dark>
                {{ filters[filterName] ? 'mdi-eye' : 'mdi-eye-off' }}
              </v-icon>
            </v-btn>
          </v-row>
        </v-container>

        <v-container>

            <v-row v-for="zone in zones" :key="zone.name">
              <v-col>
                <v-card :img="zone.background !== undefined ? 'backgrounds/' + zone.background : ''" class="rounded-0 blue lighten-4 elevation-2 py-2" style="padding: 0,0,100,0;">
                  <h3 class="white--text pl-2">{{ zone.name }} ( {{ zone.totalItemsSet }} / {{ zone.totalItems }} )</h3>
                </v-card>
              </v-col>

              <v-container>
                <v-row v-for="item in zone.items">
                  <v-col class="ma-0 pa-0 pl-4">
                    <v-checkbox  :messages="item.hint" :key="item.name + item.location" v-model="saved[item.name + item.location]" :label="item.name + ' (' + item.type + ')'" @change="updateCheckbox(item.name + item.location, zone, $event)"></v-checkbox>                  
                  </v-col>
                  <v-col class="ma-0 pa-0 pl-4">
                    <v-icon v-if="item.hintImage !== undefined" class="ma-4" @click="showImage">mdi-camera</v-icon>
                  </v-col>
                </v-row>        
              
                <v-row v-for="subzone in zone.subzones" :key="subzone.name">
                  <v-col lg="12">
                    <v-card class="rounded-0 blue lighten-5 elevation-2 py-2 mt-4">
                      <h5 class="pl-2">{{ subzone.name }} ( {{ subzone.totalItemsSet }} / {{ subzone.totalItems }} )</h5>
                    </v-card>
                  </v-col>
                  <v-container>                          
                    <v-row v-for="item in subzone.items">
                      <v-col class="ma-0 pa-0 pl-4">
                        <v-checkbox  :messages="item.hint" :key="item.name + item.location" v-model="saved[item.name + item.location]" :label="item.name + ' (' + item.type + ')'" @change="updateCheckbox(item.name + item.location, subzone, $event)"></v-checkbox>                  
                      </v-col>
                      <v-col class="ma-0 pa-0">
                        <v-icon v-if="item.hintImage !== undefined" class="ma-4" @click="showImage">mdi-camera</v-icon>
                      </v-col>
                    </v-row>  
                  </v-container>
                </v-row>
              </v-container>
            </v-row>

        </v-container>
      </v-main>
    </v-app>
  </div>
  
  <script src="db.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      created: function() {
        this.refreshItems();
      }, 
      methods: {    
        populateItems: function(zone) {
          let items = [];

          for (let sectionName in db.items) {

            if (this.filters !== undefined && !this.filters[sectionName]) {
              continue;
            }

            let sectionItems = db.items[sectionName];
            for (let i = 0; i < sectionItems.length; ++i) {
              let item = sectionItems[i];
              if (item.location !== zone.name) {
                continue;
              }

              items.push({
                name: item.name,
                location: item.location,
                type: sectionName,
                hint: item.where,
                hintImage: item.hintImage
              });

              ++zone.totalItems;
              let value = localStorage.getItem(item.name + item.location)
              if (value) {
                  ++zone.totalItemsSet;
              }
            }          
          }

          items.sort(function(itemA, itemB) {
            return itemA.name.localeCompare(itemB.name);
          });

          zone.items = items;
        },
        refreshItems: function() {
          let zones = [];
          for (let i = 0; i < db.zones.length; ++i) {
            let dbzone = db.zones[i];
            let zone = {
              name: dbzone.name,
              background: dbzone.background,
              totalItems: 0,
              totalItemsSet: 0,
              subzones: [],
              items: []
            };

            for (let j = 0; j < dbzone.subzones.length; ++j) {
                let subzoneName = dbzone.subzones[j];

                let subzone = {
                  name: subzoneName,                  
                  totalItems: 0,
                  totalItemsSet: 0,
                  items: []
                };
                this.populateItems(subzone);
                zone.subzones.push(subzone);
            }

            this.populateItems(zone);
            zones.push(zone);        
          }

          this.zones = zones;
        },
        showImage: function() {

        },
        toggleFilter: function(filterName) {
          this.filters[filterName] = !this.filters[filterName];
          this.refreshItems();
        },
        updateCheckbox: function(key, zone, value) {
          if (value === true) {
              localStorage.setItem(key, value);
              ++zone.totalItemsSet; 
          } else {
              localStorage.removeItem(key);
              --zone.totalItemsSet; 
          }
        }
      },
      data() {
        let items = {
          zones: [],
          saved: {},
          filters: {}
        };

        for (let sectionName in db.items) {
          items.filters[sectionName] = true;
        }

        let keys = Object.keys(localStorage);
        i = keys.length;
        while ( i-- ) {
          items.saved[keys[i]] = localStorage.getItem(keys[i]);
        }

        return items;
      }
      
    })
  </script>
</body>
</html>